* {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
}

.container {
  height: 700px;
  width: 100%;
  padding: 15px;
  border-radius: 16px;
  background-color: darkgoldenrod;
}

.div1 {
  height: 600px;
  padding: 20px;
  border-radius: 16px;
  margin: 6px;
  background-color: grey;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;
  border-radius: 18px;
  background-color: #fff;
}

.groupHeader {
  display: flex;
  justify-content: space-around;
}

.groupBody {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  padding: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: 10px;
  gap: 15px;
  background-color: orange;
  overflow: auto;
  margin-bottom: 8px;
}

.listHeader {
  display: flex;
  justify-content: space-around;
  padding-right: 20%;
  font-size: 20px;
}

.listHeader h3 {
  text-decoration: underline;
}

.listHeader span {
  cursor: pointer;
  background-color: black;
  color: red;
}

.listBody {
  font-size: 18px;
  white-space: pre-line;
}